*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  font-family: "Poppins", sans-serif;
  // min-height: 100vh;
  // display: grid;
  // place-content: center;
  color: #ececec;
  background: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  height: 100vh;
  perspective: 100px;
  background: rgb(1, 8, 22);
  background: -moz-linear-gradient(
    0deg,
    rgba(1, 8, 22, 1) 80%,
    rgb(10, 2, 37) 98%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(1, 8, 22, 1) 80%,
    rgb(10, 2, 37) 98%
  );
  background: linear-gradient(0deg, rgba(1, 8, 22, 1) 80%, rgb(10, 2, 37) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010816",endColorstr="#040e2f",GradientType=1);

  &::after {
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 90%;
    transform: rotateZ(-4deg);
    transform-origin: 0 0;
    // border-top: 1px solid rgba(54, 187, 248, 0.123);
    background: linear-gradient(
      180deg,
      rgba(200, 194, 241, 1) 38%,
      rgba(221, 217, 242, 1) 71%
    );
    box-shadow: 0 0 80px 120px #5033703f;
  }
}
